.ng-cloak {
  display: none!important;
}

.wiki-wrapper {
  position: relative;
}

/* home.html */

.wiki-view-wrapper {
  text-align: center;
}

.wiki-logo-wrapper {
  transition: transform 100ms ease-in;
}

.wiki-logo-wrapper:hover {
  transform: rotate(20deg);
}

.wiki-title-wrapper h1 {
  font-family: 'Cardo', serif;
  font-size: 60px;
  letter-spacing: 1px;
}

.wiki-title-wrapper h1 span {
  font-size: 40px;
}

/* _nav.html */

.wiki-nav-item {
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  transition: transform 300ms ease-in-out;
}

.wiki-nav-item:hover {
  transform: scale(1.2, 1.2);
}

.wiki-nav-item a {
  display: block;
  position: relative;
  top: 18%;
  text-decoration: none;
  color: #444444;
}

.wiki-nav-item h3 {
  font-size: 12px;
  margin: 0;
}

.nav-1 {
  top: 5%;
  right: 0;
  left: 0;
  margin: 0 auto;
  background: radial-gradient(#FFCCBC 1%, #FF3D00);  
}

.nav-2 {
  top: 25%;
  left: 25%;
  background: radial-gradient(#BBDEFB 1%, #2962FF);  
}

.nav-3 {
  top: 25%;
  right: 25%;
  background: radial-gradient(#E0F2F1 1%, #1DE9B6);  
}

.nav-4 {
  bottom: 25%;
  left: 25%;
  background: radial-gradient(#FFF9C4 1%, #FDD835);  
}

.nav-5 {
  bottom: 25%;
  right: 25%;
  background: radial-gradient(#F8BBD0 1%, #FF4081);  
}

.nav-6 {
  bottom: 5%;
  right: 0;
  left: 0;  
  margin: 0 auto;
  background: radial-gradient(#D1C4E9 1%, #7E57C2);  
}

/* play.html */

.play a span {
  font-size: 20px;
}

.play-view {
  width: 250px;
}

.play-button-1 {
  text-align: left;
}

.play-button-2 {
  text-align: right;
}

/* game */

#wiki {
  position: relative;
}

#wiki-titlebar {
  background: #2962FF;
  height: 80px;
}

#wiki-titlebar .md-toolbar-tools {
  height: 80px;
  max-height: 80px;
}

#wiki-sidebar {
  background: #1DE9B6;
}

#wiki-sidebar-time,
#wiki-sidebar-clicks {
  background: #FF6E40;
}

#wiki-sidebar-time h4,
#wiki-sidebar-clicks h4,
#wiki-titlebar h4,
#wiki-path h4 {
  font-size: 18px;
  margin: 10px;
  line-height: 1.1;
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

#wiki-path {
  height: 80px;
  background: #7E57C2;
}

#wiki-sidebar-list p {
  font-size: 16px;
}

#init-view, #loading-view, #victory-view {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  text-align: center;
  /*TODO: add support for other browsers*/
  transform: translateY(-50%);
}

#path-view {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
}

#init-view h1, 
#loading-view h1,
#victory-view h1{
  color: #000;
  background: none;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  padding-top: .5em;
  padding-bottom: .17em;
  border: none;
  line-height: 1.1;
  font-size: 188%;
}

#init-view .wiki-button,
#victory-view .wiki-button {
  color: white;
  font-size: 188%;
  padding: 8px 20px;
  margin-top: 35px;
  background: #1DE9B6;
}

#wiki .infobox {
  border-collapse: separate;
}

.paused {
  pointer-events: none;
}

.loading-finish {
  display: none;
}

.loading-tween {
  animation-name: pulse;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes pulse {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}