.ng-cloak {
  display: none!important;
}

.wiki-wrapper {
  position: relative;
}

.wiki-view-wrapper {
  font-family: 'Cardo', serif;
}

.wiki-title-wrapper h1 {
  font-size: 70px;
  letter-spacing: 1px;
}

.wiki-title-wrapper h1 span {
  font-size: 50px;
}