<div flex class='wiki-wrapper' layout='row' layout-align='center center'>
  <div class="wiki-view-wrapper">
    <div class='wikiracer-nav'>
      <strong>Your Profile: </strong>
      <md-button class='md-raised' ng-class='vm.buttonOne' ng-click="vm.toggleGameType('oneplayer')">One Player</md-button>
      <md-button class='md-raised' ng-class='vm.buttonTwo' ng-click="vm.toggleGameType('twoplayer')">Two Player</md-button>
    </div>
    <div class='wikiracer-stats'>
      <table class='table table-striped table-bordered table-fixed'>
        <thead>
          <tr>
            <th><img src="{{vm.user.thumbnail_url}}" alt="pic"></th>
            <th>{{vm.user.username}}</th>
          </tr> 
        </thead>
        <tbody>       
          <tr>
            <th>Rank</th>
            <td>{{vm.rank}}</td>
          </tr>
          <tr>
            <th>Wins</th>
            <td>{{vm.wins}}</td>
          </tr>
          <tr>
            <th>Loses</th>
            <td>{{vm.loses}}</td>
          </tr>
          <tr>
            <th>Score</th>
            <td>{{vm.score}}</td>
          </tr>
        </tbody>
      </table>
      <div class='wikiracer-nav wiki-profile-crud'>
        <md-button class='md-raised md-primary md-hue-3' ng-click="vm.editProfile()">Edit</md-button>
        <md-button class='md-raised md-warn md-hue-1' ng-click="vm.deleteProfile()">Delete</md-button>
      </div>
    </div>
  </div>
  <wiki-nav></wiki-nav>
</div>