<div flex class='wiki-wrapper' layout='row' layout-align='center center'>
  <div class="wiki-view-wrapper">
    <div class='wikiracer-rankings'>
      <h1>Hello {{vm.user.username}}</h1>
<!--       <table class='table table-striped table-bordered table-fixed'>
        <thead>
          <tr>
            <th>{{vm.user.username}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Rank</th>
          </tr>
          <tr>
            <th>Wins</th>
          </tr>
          <tr>
            <th>Loses</th>
          </tr>
          <tr>
            <th>1 Player</th>
          </tr>
          <tr>
            <th>2 Player</th>
          </tr>
        </tbody>
      </table> -->
  </div>
  <wiki-nav></wiki-nav>
</div>