<div class="wiki-nav-item nav-1" md-ink-ripple="#fff">
  <a href='/play'>
    <p>
      <i class='fa fa-gamepad fa-3x'></i>
    </p>
    <h3>PLAY GAME</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-2" md-ink-ripple="#fff">
  <a href='/'>
    <p>
      <i class='fa fa-home fa-3x'></i>
    </p>
    <h3>HOME PAGE</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-3" md-ink-ripple="#fff">
  <a href='/rankings'>
    <p>
      <i class="fa fa-fort-awesome fa-3x"></i>
    </p>
    <h3>RANKINGS</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-4" md-ink-ripple="#fff">
  <a href='/auth/login' ng-hide='vm.currentUser'>
    <p>
      <i class="fa fa-key fa-3x"></i>
    </p>
    <h3>LOGIN</h3>      
  </a>
  <a href='/auth/logout' ng-hide='!vm.currentUser'>
    <p>
      <i class="fa fa-sign-out fa-3x"></i>
    </p>
    <h3>LOGOUT</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-5" md-ink-ripple="#fff">
  <a href='/auth/new' ng-hide='vm.currentUser'>
    <p>
      <i class="fa fa-user-plus fa-3x"></i>
    </p>
    <h3>NEW ACCOUNT</h3>      
  </a>
  <a ng-href='/users/{{vm.currentUser.id}}' ng-hide='!vm.currentUser'>
    <p>
      <i class="fa fa-user fa-3x"></i>
    </p>
    <h3>YOUR STATS</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-6" md-ink-ripple="#fff">
  <a href='/instructions'>
    <p>
      <i class="fa fa-file-text-o fa-3x"></i>
    </p>
    <h3>HOW TO PLAY</h3>      
  </a>
</div>