<div class="wiki-nav-item nav-1">
  <a href='/play'>
    <p>
      <i class='fa fa-gamepad fa-3x'></i>
    </p>
    <h3>PLAY GAME</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-2">
  <a href='/'>
    <p>
      <i class='fa fa-home fa-3x'></i>
    </p>
    <h3>HOME PAGE</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-3">
  <a href='/rankings'>
    <p>
      <i class="fa fa-fort-awesome fa-3x"></i>
    </p>
    <h3>RANKINGS</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-4">
  <a href='/auth/login'>
    <p>
      <i class="fa fa-key fa-3x"></i>
    </p>
    <h3>LOGIN</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-5">
  <a href='/auth/new'>
    <p>
      <i class="fa fa-user-plus fa-3x"></i>
    </p>
    <h3>NEW ACCOUNT</h3>      
  </a>
</div>
<div class="wiki-nav-item nav-6">
  <a href='/instructions'>
    <p>
      <i class="fa fa-file-text-o fa-3x"></i>
    </p>
    <h3>HOW TO PLAY</h3>      
  </a>
</div>