<!DOCTYPE html>
<html lang="en" ng-app='wikirace'>
<head>
  <meta charset="UTF-8">
  <title>WIKIRACE</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.css">
  <link rel='stylesheet' href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cardo'>  
  <link rel="stylesheet" href="/stylesheets/style.css">
  <base href="/">
</head>
  <body ng-cloak layout='row'>
    <div ng-view flex layout='column'></div>

    <!-- bootbox  -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <!-- sockets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

    <!-- angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.7/angular-sanitize.min.js"></script>

    <!-- libs -->
    <script src="/libs/ngbootbox/dist/ngBootbox.min.js"></script>
    <script src="/libs/angular-socket-io/socket.min.js"></script>
    <script src="/libs/ng-scroll-glue/dist/ng-scroll-glue.min.js"></script>
    <script src="/libs/moment/min/moment.min.js"></script>
    <script src="/libs/moment/min/locales.min.js"></script>
    <script src="/libs/humanize-duration/humanize-duration.js"></script>
    <script src="/libs/angular-timer/dist/angular-timer.min.js"></script>

    <!-- app -->
    <script src="/javascripts/app.js"></script>
    <script src="/javascripts/routes/wikirace.routes.js"></script>
    <script src="/javascripts/filters/wikirace.filter.js"></script>
    <script src="/javascripts/services/sockets.service.js"></script>
    <script src="/javascripts/services/users.service.js"></script>
    <script src="/javascripts/components/nav/wikinav.directive.js"></script>
    <script src="/javascripts/components/auth/login.controller.js"></script>
    <script src="/javascripts/components/auth/new_account.controller.js"></script>
    <script src="/javascripts/components/game/one_player.controller.js"></script>
    <script src="/javascripts/components/game/two_player.controller.js"></script>
    <script src="/javascripts/components/users/userShow.controller.js"></script>
  </body>
</html>