<div flex class='wiki-wrapper' layout='row' layout-padding layout-align='center center'>
  <!-- home view -->
  <div class='wiki-view-wrapper'>
    <div class="wiki-logo-wrapper">
      <img src="/assets/wiki-logo.png" alt="wiki-logo">
    </div>
    <div class="wiki-title-wrapper">
      <h1>W<span>IKIRAC</span>E</h1>
    </div>
  </div>

  <!-- nav -->
  <div class="wiki-nav-item nav-1">
    PLAY GAME
  </div>
  <div class="wiki-nav-item nav-2">
    HOME PAGE
  </div>
  <div class="wiki-nav-item nav-3">
    RANKINGS
  </div>
  <div class="wiki-nav-item nav-4">
    LOGIN
  </div>
  <div class="wiki-nav-item nav-5">
    NEW ACCOUNT
  </div>
  <div class="wiki-nav-item nav-6">
    HOW TO PLAY
  </div>
</div>
