<div flex class='wiki-wrapper' layout='row' layout-align='center center'>
  <div class='wiki-view-wrapper'>
    <div id="how-to-play">      
      <md-toolbar class='md-hue-3'>
        <div class="md-toolbar-tools">How To Play</div>
      </md-toolbar>
      <md-content style="height: 300px;">
        <section>
          <md-subheader class='sub-1'>Introduction</md-subheader>
          <md-list layout-padding>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima excepturi assumenda facere quos corporis pariatur facilis rerum mollitia sit nihil! Ea, nam dicta, eius quas dolorem distinctio sunt suscipit fugiat!</p>
                </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class='sub-2'>Rules</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus beatae, vero quae blanditiis veniam delectus accusantium odit maxime vel quidem ut commodi placeat sed nobis, fugit quas suscipit, tempora libero.</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class='sub-3'>One Player</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus beatae, vero quae blanditiis veniam delectus accusantium odit maxime vel quidem ut commodi placeat sed nobis, fugit quas suscipit, tempora libero.</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class='sub-4'>Two Player</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus beatae, vero quae blanditiis veniam delectus accusantium odit maxime vel quidem ut commodi placeat sed nobis, fugit quas suscipit, tempora libero.</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class='sub-5'>Pro Tip</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus beatae, vero quae blanditiis veniam delectus accusantium odit maxime vel quidem ut commodi placeat sed nobis, fugit quas suscipit, tempora libero.</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class='sub-6'>Contact</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus beatae, vero quae blanditiis veniam delectus accusantium odit maxime vel quidem ut commodi placeat sed nobis, fugit quas suscipit, tempora libero.</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section class='buffer'>
          <md-subheader>Buffer</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text"></div>
            </md-list-item>
          </md-list>
        </section>
      </md-content>
    </div>
  </div>
  <wiki-nav></wiki-nav>  
</div>