<div flex class='wiki-wrapper' layout='row' layout-align='center center'>
  <div class='wiki-view-wrapper'>
    <div id="how-to-play">      
      <md-toolbar class='md-hue-3'>
        <div class="md-toolbar-tools">How To Play</div>
      </md-toolbar>
      <md-content style="height: 300px;">
        <section>
          <md-subheader class='sub-1'>Introduction</md-subheader>
          <md-list layout-padding>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                  <p></p>
                  <p>Welcome to the Wikirace! This is an real-time, single page desktop game meant to be played individually or with two players. It is inspired by the original Wikipedia games which you can check out <a href="https://en.wikipedia.org/wiki/Wikipedia:Wikirace">here</a>.</p>
                </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class='sub-2'>Rules</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p>The rules are very simple. When the player starts the game, they are given a starting article and a destination article. The goal of the game is to reach the destination article by clicking through the links on the page in the least amount of time and clicks possible. After the player reaches the destination article, they are given a score based on their performance. If the players are logged in, their score will be saved and available to view on their profile page.</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section>
          <md-subheader class='sub-3'>Contact</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p>Wikirace is an open source project where anybody can contribute to improve the gaming experience</p>
                <p>Feel free to go to this <a href="https://github.com/kakorcal/wikirace">link</a> for more information, suggestions, or reporting any bugs.</p>
              </div>
            </md-list-item>
          </md-list>
        </section>
        <section class='buffer'>
          <md-subheader>Buffer</md-subheader>
          <md-list layout="column" layout-padding>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text"></div>
            </md-list-item>
          </md-list>
        </section>
      </md-content>
    </div>
  </div>
  <wiki-nav></wiki-nav>  
</div>