<div layout='row'>
  <md-toolbar id='wiki-titlebar'>
    <div class='md-toolbar-tools'>
      <h4 flex>WIKIRACE</h4>
      <div flex ng-show='vm.isPlaying'>
        <h4 id='wiki-vs'>{{}} vs {{}}</h4>
      </div>
      <md-button ng-click='vm.quitGame()' class='md-warn md-raised md-hue-1'>Quit</md-button>
    </div>
  </md-toolbar>  
</div>
<div flex layout='row'>
  <md-sidenav
    flex='20'
    md-is-locked-open="$mdMedia('gt-md')" 
    md-component-id="left" 
    class="md-whiteframe-z2">
    <md-toolbar layout='row' layout-padding id='wiki-sidebar-time'>
      <div class="md-toolbar-tools" layout-align='center center'>
        <h4>TIME: <timer interval="1000" autostart='false'>{{mminutes}}:{{sseconds}}</timer></h4>
      </div>
    </md-toolbar>
    <md-toolbar flex layout='row' layout-padding id='wiki-sidebar'>
      <md-content flex id='wiki-sidebar-list' scroll-glue>
        <md-list flex ng-class="vm.timerRunning ? 'wiki-playing' : 'wiki-paused'">
          <div class='wiki-repeat' ng-repeat='article in vm.articles'>
            <md-list-item class='noright' ng-click='vm.generateArticle(article.path)'>
              <img ng-src='{{article.thumbnail}}' class="md-avatar" alt="pic" />
              <div class="md-list-item-text" layout="column">
                <p>{{article.title | truncate: 17}}</p>
              </div>
            </md-list-item>
            <md-divider></md-divider> 
          </div>
        </md-list>
      </md-content>
    </md-toolbar>    
    <md-toolbar layout='row' layout-padding id='wiki-sidebar-clicks'>
      <div class="md-toolbar-tools" ng-show='vm.isPlaying' layout='column' layout-align="space-around center">
        <h4>{{vm.player.username | truncate: 15}} : {{vm.player.clicks}}</h4>
        <h4>{{vm.player.username | truncate: 15}} : {{vm.player.clicks}}</h4>
      </div>
    </md-toolbar>
  </md-sidenav>
  <md-content flex layout='column'>
    <md-toolbar layout-align='center center' id='wiki-path'>
      <div class="md-toolbar-tools" ng-show='vm.isPlaying'>
        <h4 id='wiki-hints'>FROM: <a ng-href="https://en.wikipedia.org/wiki/{{vm.first}}" target='_blank'>{{vm.first}}</a> <i class="fa fa-arrow-right"></i> TO: <a ng-href="https://en.wikipedia.org/wiki/{{vm.last}}" target='_blank'>{{vm.last}}</a></h4>
      </div>
    </md-toolbar>
    <md-content flex layout-padding id='wiki'>
      <div id='init-view' ng-hide='vm.isPlaying || vm.isWin'>
        <div ng-hide='vm.first && vm.last'>
          <h1 class='wiki-loading-tween'>WAITING FOR CHALLENGER...</h1>
        </div>
        <div ng-show='vm.first && vm.last'>
          <h1>FROM: {{vm.first}}</h1>
          <h1><i class='fa fa-arrow-down'></i></h1>
          <h1>TO: {{vm.last}}</h1>
          <h1 class='md-raised wiki-button wiki-countdown'>GAME STARTING IN: {{vm.countdown}}</h1>    
        </div>
      </div>
      <div id='loading-view' ng-show='vm.isLoading'>
        <h1 class='wiki-loading-tween'>LOADING...</h1>
      </div>
      <div id="victory-view" ng-show='vm.isWin'>
        <h1>{{vm.points ? 'YOU WIN!!!' : 'YOU LOSE!!!'}}</h1>
        <h1>SCORE: {{vm.points}}</h1>
        <md-button ng-click='vm.resetGame()' class='md-raised wiki-button'>PLAY AGAIN?</md-button>
      </div>
      <div id='article-view' ng-hide='vm.isLoading || vm.isWin' ng-class="vm.timerRunning ? 'wiki-playing' : 'wiki-paused'">
        <style scoped>{{vm.styles}}</style>
        <h1 ng-show='vm.title' ng-bind-html='vm.title'></h1>
        <div ng-show='vm.content' compile='vm.content'></div>
      </div>
    </md-content> 
  </md-content>
</div>